.nav-link:hover {
  background-color: grey;
}

.display-4 {
  font-weight: bold;
}

.card-body-icon {
  position: absolute;
  z-index: 0;
  top: 0px;
  right: 4px;
  opacity: 0.4;
  font-size: 90px;
}
