html,
body {
  margin: 0;
  padding: 0;
}
.container {
  width: 25%;
}

h3 {
  position: absolute;
  margin-top: 10%;
  margin-left: 9%;
  color: #f3af34;
}
form {
  width: 20%;
  position: absolute;
  margin-top: 15%;
  margin-left: 2%;
  color: #f3af34;
}

.btn {
  width: 100%;
  background: #f3af34;
}
