<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../public/fontawesome/css/all.min.css"
    />

    <title>DETAIL</title>
  </head>
  <body>
    <a href="/dashboard"><h5>Back</h5></a>

    <h1>user id: <%= user.id %></h1>
    <form>
      <div class="modal-body">
        <div class="form-group">
          <label for="recipient-username" class="col-form-label"
            >Username:</label
          >
          <input
            type="text"
            class="form-control"
            id="recipient-username"
            name="username"
            value="<%= user.username %>"
          />
        </div>

        <div class="form-group">
          <label for="recipient-password" class="col-form-label"
            >Password:</label
          >
          <input
            type="password"
            class="form-control"
            id="recipient-password"
            name="password"
            value="<%= user.password %>"
          />
        </div>
        <input
          type="text"
          id="recipient-userid"
          name="userID"
          value="<%= user.id %>"
          style="display: none"
        />
        <input
          type=""
          id="edit-user"
          class="btn btn-primary"
          name="Edit"
          value="Edit"
        />
      </div>
    </form>
  </body>
</html>
<script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
  crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  document.getElementById("edit-user").addEventListener("click", function (e) {
    let username = document.getElementById("recipient-username").value;
    let password = document.getElementById("recipient-password").value;
    let userID = document.getElementById("recipient-userid").value;
    axios
      .patch("/api/user", {
        userID: userID,
        username: username,
        password: password,
      })
      .then(function (response) {
        console.log(response.data);
        window.location.href = "/user";
      })
      .catch(function (error) {
        console.log(error);
      });
  });
</script>
