<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="admin.css" />
    <link rel="stylesheet" type="text/css" href="fontawesome/css/all.min.css">

    <title>Admin</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info fixed-top">
      <a class="navbar-brand" href="#">Admin Dashboard | <b>Binar Academy</b></a>
      
        <form class="form-inline my-2 my-lg-0 ml-auto">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>

        <div class="icon ml-4">
          <h5>
            <i class="fas fa-envelope mr-3" data-toggle="tooltip" title="Message"></i>
            <i class="far fa-bell mr-3" data-toggle="tooltip" title="Notification"></i>
            <i class="fas fa-sign-out-alt mr-3" data-toggle="tooltip" title="Sign Out"></i>
          </h5>
        </div>
      </div>
    </nav>

    <div class="row no-gutters mt-5">
      <div class="col-md-2 bg-dark mt-2 pr-3 pt-4">
        <ul class="nav flex-column ml-3 mb-5">
          <li class="nav-item">
            <a class="nav-link active text-white" href="/dashboard"><i class="fas fa-tachometer-alt mr-2"></i> Dashboard</a><hr class="bg-secondary">
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/user"><i class="far fa-user mr-2"></i> User</a><hr class="bg-secondary">
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/userbiodata"><i class="far fa-address-book mr-2"></i> User Biodata</a><hr class="bg-secondary">
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/userhistory"><i class="fas fa-history mr-2"></i> User History</a><hr class="bg-secondary">
          </li>
          <br><br><br><br><br><br><br><br><br><br>
          
        </ul>
      </div>

      <div class="col-md-10 p-5 pt-2">
        <h3><i class="far fa-user mr-2"></i>USER</h3><hr>

        <button type="button" data-toggle="modal"
        data-target="#exampleModal"
        class="btn btn-primary mb-3">
          <i class="far fa-plus-square mr-2"></i>CREATE NEW USER
        </button>
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <form>
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Create User</h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label"
                      >Username:</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="recipient-username"
                      name="username"
                    />
                  </div>

                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label"
                      >Password:</label
                    >
                    <input
                      type="password"
                      class="form-control"
                      id="recipient-password"
                      name="password"
                    />
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                  <input
                    type=""
                    id="create-user"
                    class="btn btn-primary"
                    name="Create"
                    value="Create"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>

    
        <% if(users.length > 0) { %>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th scope="col">NO</th>
              <th scope="col">USER ID</th>
              <th scope="col">USERNAME</th>
              <th scope="col">PASSWORD</th>
              
              <th colspan="3" scope="col">ACTION</th>
            </tr>
          </thead>

          <tbody>
            <% users.map((u, index) => {%>
            <tr>
              <th scope="row"><%= index+1 %></th>
              <td><%= u.id %></td>
              <td><%= u.username %></td>
              <td><%= u.password %></td>
              
              <td>
                <form>
                  <input
                    type="text"
                    name="userID"
                    value="<%= u.id %>"
                    style="display: none"
                  />
                  <a
                    href="/user/<%= u.id %>"
                    data-userid="<%= u.id %>"
                    style="margin-right: 10px"
                    ><i class="fas fa-edit bg-warning p-2 text-white rounded btn btn-warning edit-user" data-toggle="tooltip" title="Edit"></i></a
                  >
                </form>
              </td>
              <td>
                <form>
                  <input
                    type="text"
                    name="userID"
                    value="<%= u.id %>"
                    style="display: none"
                  />
                  <i class="fas fa-trash-alt bg-danger p-2 text-white rounded btn btn-danger delete-user" data-userid="<%= u.id %>"  data-toggle="tooltip" title="Delete"></i>
                </form>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <% } else { %>
        <h1>No Data</h1>
        <% } %> 
      </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript" src="admin.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
  </body>
</html>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
  document
    .getElementById("create-user")
    .addEventListener("click", function (e) {
      let username = document.getElementById("recipient-username").value;
      let password = document.getElementById("recipient-password").value;
      axios
        .post("/api/user", {
          username,
          password,
        })
        .then(function (response) {
          console.log(response.data);
          window.location.reload();
        })
        .catch(function (error) {
          console.log(error);
        });
    });

  var deleteElements = document.getElementsByClassName("delete-user");
  var deleteUser = function (e) {
    let userId = this.dataset.userid;
    if (confirm(`Are you sure you want to delete user ${userId}`))
      axios
        .delete("/api/user", {
          data: {
            userID: userId,
          },
        })
        .then(function (response) {
          console.log(response);
          window.location.reload();
        })
        .catch(function (error) {
          console.log(error);
        });
  };

  for (var i = 0; i < deleteElements.length; i++) {
    deleteElements[i].addEventListener("click", deleteUser, false);
  }
</script>
